<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CaRo Web</display-name>

	<context-param>
		<param-name>STORAGE</param-name>
		<param-value>/tmp/CaRoWebStorage</param-value>
		<!-- <description>storage directory</description> -->
	</context-param>
  
    <servlet>
        <servlet-name>Converter</servlet-name>
        <servlet-class>de.unirostock.sems.caroweb.Converter</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>de.unirostock.sems.caroweb.Index</servlet-class>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index.sems</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Converter</servlet-name>
		<url-pattern>/caro</url-pattern>
		<url-pattern>/roca</url-pattern>
		<url-pattern>/caro/*</url-pattern>
		<url-pattern>/roca/*</url-pattern>
		<url-pattern>/checkout/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.sems</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>

	